<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    {% load staticfiles %}
		<!-- <link href="{% static 'online_shop/index.css' %}" rel="stylesheet" type="text/css"> -->
		<title> {% block title %} Virtual Online Shop {% endblock %} </title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript">
			window.onload = update;
			var refresh_interval = 20;
			// var set_interval = window.setInterval(update, 1000 * refresh_interval);
			var update_pending = function() {
				$.ajax({
					url: "/update_pending",
					type: "GET",
					dataType: "json",
					success : function(data) {
						if (data.code === "yes") {
							document.getElementById("shoes_number").innerHTML = data.shoes_number;
							document.getElementById("pants_number").innerHTML = data.pants_number;
							document.getElementById("message").innerHTML = data.message;
							document.getElementById("transaction_button").disabled = false;
						}
						console.log("Finish update pending...")			
					}
				});
			};

			var update = function() {
				$.ajax({
					url: "/detect",
					type: "GET",
					dataType: "json",
					success : function(data) {
						// console.log("alive:"+alive);
						document.getElementById("alive_count").innerHTML = data.alive_count;
						document.getElementById("dead_count").innerHTML = data.dead_count;
						document.getElementById("alive_ip_addr").innerHTML = data.alive_IP;
						document.getElementById("dead_ip_addr").innerHTML = data.dead_IP;
						document.getElementById("master").innerHTML = data.master;
						var message_element = document.getElementById("message");
						if (message_element != null && message_element.innerHTML === "Transaction Pending...") {
							console.log("enter pending transaction..");
							update_pending();
						}
					}
				});
			};

			update();
			var set_interval = window.setInterval(update, 1000 * refresh_interval);

			// var get_interval = function() {
			// 	clearInterval(set_interval);
			// 	var new_interval = parseInt(document.getElementById("interval").value);
			// 	// console.log(new_interval);
			// 	set_interval = window.setInterval(update, 1000 * new_interval);
			// 	update();
			// }
		</script>
	</head>

	<body>
		<h2 class="big-heading">
			Virtual Online Shop
		</h2>

		<!-- {% if identifier %}
			<input type="hidden" value="{{ identifier }}">
		{% endif %} -->

	    {% if message %}
            <br />
	        <div style="color:blue;" id="message">{{ message }}</div>
	    {% endif %}

        <br />
	    <div class="content">
        	<form method="post" action="{% url 'make_transaction' %}">
		        <table>
		            {% for field in form.visible_fields %}
		                <tr>
		                    <td>{{ field.label_tag }}</td>
		                    <td>{{ field }}</td>
		                </tr>
		            {% endfor %}
		        </table>
		        {% if flag is True %}
            	<input type="submit" id="transaction_button">
            	{% else %}
            	<input type="submit" id="transaction_button" disabled>
            	{% endif %}
        	{% csrf_token %}
        	</form>
		    
            <br />
            <br />
        	<table>
                <!-- <tr style="color:blue;">
                    <td>HeartBeat Interval:</td>
                    <td><input id="interval" type="text" value="3">seconds</td>
                    <td><button onclick="get_interval()">set</button></td>
                </tr> -->
                <tr>
                	<td  style="color:blue;">Number of running server:</td>
                	<td id="alive_count"></td>
                	<td  style="color:blue;">IP:</td>
                	<td id="alive_ip_addr"></td>
                </tr>
                <tr>
                	<td style="color:blue;">Number of dead server:</td>
                	<td id="dead_count"></td>
                	<td style="color:blue;">IP:</td>
                	<td id="dead_ip_addr"></td>
                </tr>
                <tr><td id="master"></td></tr>
        		<tr>
        			<td>Remaining Shoes:</td>
        			<td id="shoes_number">{{ shoes_number }}</td>
        		</tr>
        		<tr>
        			<td>Remaining Pants:</td>
        			<td id="pants_number">{{ pants_number }}</td>
        		</tr>
        	</table>

		</div>
	</body>
</html>