<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
		<title> {% block title %} Virtual Online Shop {% endblock %} </title>
	</head>

	<body>
		<h2 class="big-heading">
			Virtual Online Shop
		</h2>

	    {% if message %}
            <br />
	        <div class="message" style="color:blue;">
	            {{ message }}
	        </div>
	    {% endif %}

        <br />
	    <div class="content">
		    <form method="post" action="{% url 'make_transaction' %}">
		        <table>
		            {% for field in form.visible_fields %}
		                <tr>
		                    <td>{{ field.label_tag }}</td>
		                    <td>{{ field }}</td>
		                    <!-- <td class="error">
{#		                        {% for error in field.errors %} {{error}} {% endfor %}#}
		                    </td> -->
		                </tr>
		            {% endfor %}
		        </table>
                <input type="submit">
            {% csrf_token %}
            </form>

            <br />
            <br />
        	<table>
                <tr style="color:blue;">
                    <td>HeartBeat Interval:</td>
                    <td>{{ interval }} seconds</td>
                </tr>
        		<tr>
        			<td>Remaining Shoes:</td>
        			<td>{{ shoes_number }}</td>
        		</tr>
        		<tr>
        			<td>Remaining Pants:</td>
        			<td>{{ pants_number }}</td>
        		</tr>
        	</table>

		</div>
	</body>
</html>