<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    {% load staticfiles %}
		<!-- <link href="{% static 'online_shop/index.css' %}" rel="stylesheet" type="text/css"> -->
		<title> {% block title %} Virtual Online Shop {% endblock %} </title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript">
			window.onload = update;
			var refresh_interval = 3;
			// var set_interval = window.setInterval(update, 1000 * refresh_interval);
			var update = function() {
				$.ajax({
					url: "/detect",
					type: "GET",
					dataType: "json",
					success : function(data) {
						var alive = data.alive_count;
						var dead = data.dead_count;
						var res_alive_ip = data.alive_IP;
						var res_dead_ip = data.dead_IP;
						console.log("alive:"+alive);
						document.getElementById("alive_count").innerHTML = alive;
						document.getElementById("dead_count").innerHTML = dead;
						document.getElementById("alive_ip_addr").innerHTML = res_alive_ip;
						document.getElementById("dead_ip_addr").innerHTML = res_dead_ip;
						document.getElementById("master").innerHTML = data.master;
					}
				});
			};
			update();
			var set_interval = window.setInterval(update, 1000 * refresh_interval);

			var get_interval = function() {
				clearInterval(set_interval);
				var new_interval = parseInt(document.getElementById("interval").value);
				// console.log(new_interval);
				set_interval = window.setInterval(update, 1000 * new_interval);
				update();
			}
		</script>
	</head>

	<body>
		<h2 class="big-heading">
			Virtual Online Shop
		</h2>

	    {% if message %}
            <br />
	        <div class="message" style="color:blue;">
	            {{ message }}
	        </div>
	    {% endif %}

        <br />
	    <div class="content">
		    <form method="post" action="{% url 'make_transaction' %}">
		        <table>
		            {% for field in form.visible_fields %}
		                <tr>
		                    <td>{{ field.label_tag }}</td>
		                    <td>{{ field }}</td>
		                    <!-- <td class="error">
{#		                        {% for error in field.errors %} {{error}} {% endfor %}#}
		                    </td> -->
		                </tr>
		            {% endfor %}
		        </table>
                <input type="submit">
            {% csrf_token %}
            </form>

            <br />
            <br />
        	<table>
                <tr style="color:blue;">
                    <td>HeartBeat Interval:</td>
                    <td><input id="interval" type="text" value="3">seconds</td>
                    <td><button onclick="get_interval()">set</button></td>
                </tr>
                <tr>
                	<td  style="color:blue;">Number of running server:</td>
                	<td id="alive_count"></td>
                	<td  style="color:blue;">IP:</td>
                	<td id="alive_ip_addr"></td>
                </tr>
                <tr>
                	<td style="color:blue;">Number of dead server:</td>
                	<td id="dead_count"></td>
                	<td style="color:blue;">IP:</td>
                	<td id="dead_ip_addr"></td>
                </tr>
                <tr><td id="master"></td></tr>
        		<tr>
        			<td>Remaining Shoes:</td>
        			<td>{{ shoes_number }}</td>
        		</tr>
        		<tr>
        			<td>Remaining Pants:</td>
        			<td>{{ pants_number }}</td>
        		</tr>
        	</table>

		</div>
	</body>
</html>